
h1 {
    text-align: center;
    color: orange;
    font-size: 300%;
}

body {
    background: linear-gradient(to left, blue, pink);
}

#ken0 {
    text-align: center;
    border: solid;
    background-color: rgb(105, 171, 109);
}

#ken {
    text-align: center;
    border: solid;
    background-color: rgb(171, 105, 148);
}

#ken1 {
    text-align: center;
    color: white;
}

#ken2 {
    text-align: center;
    color: white;
}

li {
    padding: 10px 15px;
    font-size: 150%;
}