div#zentai {
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px;
	flex-direction: row;
	width: 1024px;
}

h1 {
    font-size: 200%;
    color: rgb(145, 202, 202);
}
